<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">Welcome</py:def>

  <div py:match="//div[@id='content']" class="front-page">
    <div>
      <!-- <h1 class="page_heading">Welcome to ${g.site_title}!</h1> -->
    </div>
    <div class="row">
    <div class="span8">
        <div class="action-box">
          <div class="action-box-inner find clearfix">
            <h1>Find data</h1>
            <form action="${h.url_for(controller='package', action='search')}" method="GET"> 
              <input name="q" value="" class="search-field" placeholder="${_('Find datasets')}" /> 
            </form> 
            <p>${g.site_title} contains <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a> that you can 
            browse, learn about and download.</p>
          </div>
        </div>
      
      
      </div>

      <div class="span4 tolomeo_home">
        <a href="${config.get('tolomeo.base','/tolomeo')}/TolomeoMainServlet" title="opendata" class="tolomeo_home"  target="_blank"> 
        <div>
            <h2>Vai alla Mappa</h2><img  src="/img/tolmond.jpg" />
        </div>
        </a>
      </div>
    </div>

    <div py:def="home_links()" class="span4 home_links">
        <a href="${h.url_for('/about')}" title="opendata" ><img src="/img/chi_siamo.jpg" /></a> 
        <a href="http://www.gonews.it/articolo_60926_Nasce-Cerco-Centro-Elaborazioni-Ricerche-Comunicazioni-Online.html" title="opendata" ><img src="/img/progetto_cerco.jpg" /></a>
        <a href="http://opengovernmentdata.org/" title="opendata" ><img src="/img/opendata.jpg" /></a>

      </div>

    
    <div  class="row whoelse">
     
    </div>
    <div py:if="c.groups" class="row">
        <div  class="span8 action-box home_groups">
        <div class="home_groups_container action-box-inner"><a href="${h.url_for('/group')}" class=" pull-right">Vedi tutti i gruppi</a><h2>Groups</h2> 
      <py:for each="i, group_dict in enumerate(c.groups[:6])">
        <div class="span3 action-box-inner"> 
          <div class="group">
            <h3><a href="${h.url_for(controller='group', action='read', id=group_dict['name'])}">${group_dict['title']}</a></h3>
            <p>
              ${h.markdown_extract(group_dict['description'])}
            </p>
            <strong>${group_dict['title']} has ${group_dict['packages']} datasets.</strong>
          </div>
        </div>
      </py:for>
      </div>
     
      </div>
       ${home_links()}
    </div>
    <div class="row"></div>

    <div class="row whoelse">
        <div class="${c.groups and 'span12' or 'span8'}">
           <div class="action-box">
               <div class="action-box-inner">
                   <h2>Recent Updates</h2>
                   <py:for each="pkg in c.recently_changed_packages">
                       <h3 style="margin-bottom:0px" ><a href="${h.url_for(controller='package', action='read', id=pkg['name'])}">${pkg['title']}</a></h3>
                       <p style="margin-bottom:0px"><small><span>Last Modified</span>: ${h.render_datetime(pkg.revision_timestamp)}</small></p>
                       <p>${h.markdown_extract(pkg.notes)}</p>
                
                   </py:for>
               </div>
            </div>
             
        </div>
        <py:if test="not c.groups">
          ${home_links()}
        </py:if>
    </div>
  </div>
  
  <xi:include href="layout.html" />
</html>

