
.front-page{
    padding-top:18px;
}

body.index.home .front-page .action-box-inner {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #CCC;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
body.index.home .front-page .action-box-inner.find{
    height: 230px;
}

header {
    padding:0;
    position:relative;
}
.header.outer{
    margin-bottom:0px;
    

}
.header.outer .container{height: 64px;}
#mainmenu{

}
#mainmenu a{
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    display:inline;
}
header .menu #menusearch {
bottom: 0px;
position: absolute;
right: 0;
float: right;
}

body.index.home .front-page .action-box-inner.find h1, body.index.home .front-page .action-box-inner.categorie h1 {
padding-left: 10px;
border-radius: 20px;
margin:0px -20px 10px -20px;
}
#sidebar .widget-list li.widget-container.boxed {
border-bottom: 0;
background-color: #80B3FA;
padding: 15px;
padding-top: 10px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}
.res-counter{
margin-left:5px;
font-weight: normal;
font-size: 13px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nodoorigine{
    font-size: 90%;
    font-style: italic;
}
div.tolomeo_home {
    height: 230px;
}
div.tolomeo_home  img{
    border-radius:10px;
}
div.tolomeo_home div{
    margin: 10px;
    text-align: center;
    margin-top: 0px;
    border: 1px solid #CCC;

    border-radius: 20px;
    padding: 10px;
}
div.tolomeo_home a,div.tolomeo_home a:hover{
    text-decoration:none;
    color:gray;
}

.home_links img{
    border-radius: 10px;
    margin-bottom:10px;
}
 
body.index.home .front-page div.home_groups  div.action-box-inner{
    min-height:10em
}
body.index.home .front-page .action-box-inner,body.index.home .front-page .action-box {
    background-color: #F3F3F3;
}